.form {
    display: flex;
    border-top: 2px solid #462e86;
    height: 60px;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    background-color: #29292e;
    color: #fff;
  }

  /* .input::placeholder {
    color: #fff;
  }
   */
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(#452e86, #462e86);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20%;
    cursor: pointer;
  }