.welcome-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.welcome-left-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
  height: 100vh;
}

.left-back-container {
  margin-top: 25px;
  border-radius: 8px;
  background: linear-gradient(#af206ad5, #92034dd5);
  width: 90%;
  height: 83.6%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.welcome-right-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

.right-top-back-container {
  margin-top: 25px;
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(#679768, #304731);
}

.welcomeInnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeInput {
  width: 60%;
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.219);
  padding: 3px 7px;
  border: none;
  color: #fff;
  font-size: 36px;
  margin-bottom: 10px;
}

.welcomeInput::placeholder {
  color: white;
  font-size: 26px;
}

.roomsContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  flex-wrap: wrap;
}

.roomsOuterContainer {
  width: 95%;
  height: 60%;
  margin-top: 25px;
  background: linear-gradient(#462e86, #462e86);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.roomsOuterContainer::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.roomsOuterContainer::-webkit-scrollbar-track {
  background: #0d0e11e5;
}

.roomsOuterContainer::-webkit-scrollbar-thumb {
  background-color: rgb(76, 76, 97); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.roomItem {
  min-width: 45%;
  max-width: 45%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

.roomItem:hover {
  background: rgb(219, 218, 218);
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.13);
}

.roomItem:hover h3,
.roomItem:hover p {
  color: #333;
}

.roomImg {
  height: 100%;
}

.roomImg img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  margin-right: 10px;
}

.roomContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.roomContent h3,
.roomContent p {
  margin: 0;
}

.roomRank {
  position: absolute;
  right: -25%;
  color: #03a9f4;
  transition: 0.5s;
  font-size: 2em;
}

.roomItem:hover .roomRank {
  right: 7%;
  bottom: -10px;
}

.welcome-user-title {
  color: #fff;
  font-weight: 300;
}

.avatarContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.avatarOption {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 5px;
  width: 70px;
  height: 70px;
  transition: 0.3s all;
}
.avatarOption img {
  width: 70px;
}

.avatarOption:hover {
  transform: scale(1.6);
  background: #06e9b0;
}

.avatarActive {
  background: #8bfafa;
}

.roomActive {
  background: #4b1d4d;
  border: 1px solid #fff;
}

.w-70 {
  width: 70%;
}

.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40%;
  left: 29%;
  bottom: 3%;
  box-shadow: 7px 7px 16px -3px rgba(0, 0, 0, 0.3);
}

.welcome-btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #fd5759;
  width: 100%;
  cursor: pointer;
  transition: 0.2s all;
}

.welcome-btn:hover {
  background: #612627;
}

.welcome-btn:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(5px);
}

@media (min-width: 320px) and (max-width: 1400px) {
  .roomsContainer {
    padding: 0px 10px;
  }
  .roomRank {
    font-size: 1.2em;
  }
  .avatarOption {
    width: 50px;
    height: 50px;
  }
  .avatarOption img {
    width: 50px;
  }
}

@media (min-width: 320px) and (max-width: 1000px) {
  .roomsContainer {
    flex-direction: column;
    align-items: center;
  }
  .roomItem {
    min-width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 880px) {
  .welcome-container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .welcome-left-container {
    width: 100%;
    height: 35vh;
  }
  .welcome-right-container {
    width: 100%;
    align-items: center;
    height: auto;
  }
  .left-back-container {
    height: 100%;
    width: 95%;
    margin-top: 5px;
    justify-content: flex-start;
  }
  .right-top-back-container {
    margin-top: 10px;
  }
  .roomsOuterContainer {
    height: auto;
  }
  .welcomeInput {
    width: 80%;
    margin-bottom: 0px;
    font-size: 24px;
  }
  .welcomeInput::placeholder {
    font-size: 20px;
  }
  .avatarContainer {
    height: 70%;
    overflow-y: auto;
  }
  .avatarContainer::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  .avatarContainer::-webkit-scrollbar-track {
    background: #0d0e11e5;
  }
  .avatarContainer::-webkit-scrollbar-thumb {
    background-color: rgb(76, 76, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
  .titleContainer {
    height: auto;
  }
  .welcome-user-title {
    margin: 5px;
    font-size: 18px;
  }
  .tag-title {
    font-size: 28px;
  }
  .avatarOption:hover {
    transform: scale(1.2);
  }
  .roomsOuterContainer {
    margin: 0;
    margin-top: 5px;
  }
  .roomImg img {
    width: 35px;
    height: 35px;
  }
  .roomContent h3,
  .roomContent p {
    font-size: 16px;
  }
  .roomItem {
    margin: 5px 0px;
  }
  .linkBtn {
    width: 90%;
    position: static;
  }
  .welcome-btn {
    font-size: 16px;
    margin: 0;
  }
}
